* {
    font-family: 'Inter', sans-serif;
    margin : 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
}

header {
    background-color: black;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header h1 {
    display: inline-block;
    text-align: center;
}

.tmdb-logo {
    display: inline;
    margin-top: 10px;
    max-width: 150px;
    text-align: center;
}

.main-page {
    background-color: #1a1a1a;
    display: flex;
    padding: 20px;
}

.main-page-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.main-page-description {
    flex-direction: column;
}
.movie-part {
    color: #fafafa;
    max-width: 300px;
    padding: 20px 0px;
    position: relative;
    text-align: center;
}

.movie-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.movie-button {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.movie-explanation-container {
    border-bottom: #fafafa 1px solid;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    padding: 30px;
}

.movie-explanation {
    display: flex;
}

.movie-description-container {
    color: #fafafa;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    padding-left: 20px;
}

.movie-description-container h2 {
    font-size: 60px;
}

.movie-description-overview {
    font-size: 19px;
    line-height: 1.4;
    margin: 15px 0px;
}

.movie-description-date {
    font-size: 18px;
}

.spacer-description {
    flex-grow: 1;
    height: 100%;
}

.back-button {
    border-radius: 5px;
    display: block;
    flex-grow: 0;
    font-size: 15px;
    margin: 20px auto 0 auto;
    padding: 10px 15px;
    transition: all 0.2s;
}

.back-button:hover{
    background-color: #4e4e4e;
    color: #fafafa;
}